#!/usr/bin/make -f
export QT_SELECT := qt5

%:
	dh $@ --parallel

#override_dh_auto_configure:
#	cp debian/qmake-r configure
#	chmod +x configure
#	dh_auto_configure

#override_dh_auto_qmake:
#	qmake -r
